.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
}
.container-nav{
    display: flex;

}
@media (max-width: 675px) {
    .container-nav
    {
        flex-direction: column;

    }
    header
    {
        text-align: center;
    }
    

}
header {
    /*text-align: center;*/
    background-color: #ffebebf3;
    padding: 2rem 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0; 
    font-size: 1.125rem;
    font-weight: 300;
}
h1,h2,h3 {
    font-family: Lora, 'serif';
    /*font-size: px;*/
    font-weight: 400;
    color: #5a1d41;

}
h1{
   
    
    margin: 0;
    font-size: 2rem;
   
}

/* nav title*/
.subtitle
{
    /*font-weight: 700;*/
    color: rgb(199, 141, 103);
    font-size: 1rem;
    margin: 0;
}
.article-title {
    
    font-size: 1.5rem;

}
.article-readmore,
.article-info
{
    font-size: .875rem;
}

.article-readmore {
    color: orange;
}

   
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:space-between;

    /*font-style: bold;*/
    /*border-bottom: 4px solid #ecdeec;*/

    

}
@media (max-width: 675px) {
    nav ul
    {
        flex-direction: column;

    }
    nav li{
        margin-top: .5em;
        margin-bottom: .5em;
        padding-right: 12%;
    }
    
}

nav li {
    /*margin-right: 8%;
    padding-right: 8%;*/
    /*margin-top: 3%;*/
    margin-left: 2em;

    
  
   
}
nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    /*font-size: 2rem;*/
    padding: .01rem 0;
   

}
nav a:hover,
nav a:focus{
    color: rgb(199, 141, 103);
}

.current-page
{
    border-bottom: 2px solid #707070;
}

.current-page:hover {

    color: #707070;
}
